.main-grid {
    display: grid;
    grid-template-columns: 1050px 1fr;
    align-items: start;

}

.project-grid {

    display: grid;
    background-color: #ececec;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 150px;
    margin-left: 250px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ececec;
    margin-top: 150px;

}

.project {

    flex: 1;
    border-style: outset;
    border-color: #7979ff;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-width: 10px;
    border-radius: 10px;
    margin: 20px 1em 20px 20px;
    column-gap: 20px;
    row-gap: 20px;
}
.project:hover {
    cursor: default;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
}

.project-bottom {
    display: flex;
    justify-content: end;


}

.project-bottom-pic {
    padding-left: 10px;
    height: 30px;
    padding-bottom: 20px;
}
.project-bottom-pic:hover{
    cursor: pointer;
}

.project-description {
    font-family: Bahnschrift, serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
}

.announcement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 320px;
    border: solid #7979ff;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.trending-container,
.announcement-container:hover{
    cursor: default;

}
.announcement-details {
    font-size: 12px;
    margin: 2px;
    padding: 5px;
}

.announcement-title {
    font-size: 14px;
    margin: 2px;
    padding-left: 5px;
    font-weight: bold;

}

.trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 220px;
    border: solid #7979ff;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.trending-user-data {

    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;

}

.trending-user-pic {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.trending-user {
    display: flex;
    align-items: center;
    justify-content: center;

}

.trending-user-name {
    margin: 0;
}

.trending-project-name {
    margin: 0;

}


@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr;

    }

}

.tooltip{
    position: relative;
    display: inline-block;

}
.tooltip-text{
    visibility: hidden;
    position: absolute;
    top: 100%; /* Position the tooltip below the image */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
    background-color: black; /* Customize background color */
    color: white;
    font-size: 13px;/* Customize text color */
    text-align: center;
    border-radius: 6px; /* Add rounded corners */
    padding: 5px; /* Add padding */
    z-index: 1; /* Ensure tooltip is above other elements */

}
.tooltip:hover .tooltip-text {
    visibility: visible; /* Show tooltip on hover */
}